* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*start fonts*/

.pacifico_font {
    font-family: "Pacifico", cursive;
}

.bebas_font {
    font-family: "Bebas Neue", sans-serif;
}

.epilogue_font {
    font-family: "Epilogue", sans-serif;
}
/*end fonts*/

/*start colors*/

.yellow_color {
    color: #ffb91a !important;
}

.red_color {
    color: #a5141a;
}

/*end colors*/

/*start nav*/

.nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 30px;
}

.nav_box {
    background-color: #a5141a;
    padding: 33px 0px;
    border-radius: 0 0 50px 50px;
}

.social_links {
    width: 135px;
    display: flex;
    justify-content: flex-end;
}

.social_links a {
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
}

.social_links a:hover {
    text-decoration: none;
    color: #ffb91a;
    padding: 0px 10px;
}

.item_links li {
    list-style-type: none;
}

.item_links a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0px 10px;
}

.item_links a:hover {
    text-decoration: none;
    color: #ffb91a;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0px 10px;
}

.item_links {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.nav_items h3 {
    color: #ffb91a;
    font-size: 24px;
}

.shop_icon {
    width: 135px;
    display: flex;
    justify-content: flex-end;
}

.shop_icon i:hover {
    color: #ffb91a;
    width: 135px;
    display: flex;
    justify-content: flex-end;
}

.down_sign {
    display: flex;
}

.down_sign i {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}

.pages_menu {
    background-color: #ffb91a;
    padding: 16px 5px;
    width: 170px;
    color: red;
}

.pages_menu a {
    color: black;
}

.pages_menu a:hover {
    color: #fff;
}

.pages_menu_list {
    position: absolute;
    display: none;
}

.item_links > li:hover ul {
    display: block;
}

/*end nav*/

/*start header*/

.header {
    background: linear-gradient(#00000042, #0000008a), url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: flex-end;
}

.header_item_1 {
    font-size: 45px;
}

.header_item_2 {
    color: #fff;
    font-size: 110px;
    font-weight: 500;
    line-height: 115px;
}

.header_box {
    height: 90%;
    display: flex;
}

.header_items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background-color: #a5141a;
    padding: 15px 45px;
    border-radius: 5px;
    width: 31.5%;
    transition-duration: 0.3s;
}

.links:hover {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffb91a;
    padding: 15px 45px;
    border-radius: 5px;
}

/*end header*/

/*start category*/

.category_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category_box {
    padding: 76px 0px;
}

.category_item {
    /* background-color: blue; */
    width: 24%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.category_item:hover {
    border-color: #ffb91a;
}

.category_item img {
    width: 90px;
}

.category_item h3 {
    letter-spacing: 2px;
    font-size: 20px;
}

.category_item_images {
    height: 110px;
}

/*end category*/

/*start offer*/

.offer {
    background-image: url("../images/special-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.offer_box {
    padding: 120px 0;
}

.left_item {
    width: 49%;
}

.item_option {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/special-01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 130px 60px;
    border-radius: 12px;
}

.item_option_title {
    font-size: 48px;
    line-height: 1;
}

.item_option_text {
    font-size: 15px;
    width: 80%;
    text-transform: uppercase;
    margin-top: 5px;
    line-height: 1.8;
}

.item_option span {
    display: block;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 60px;
}

.item_option_right {
    padding: 45px 60px;
}

.item_option_right span {
    font-size: 25px;
    margin-bottom: 0px;
}

.right_item {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer_items {
    display: flex;
    justify-content: space-between;
}

.item_option_right_above {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/special-02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item_option_right_below {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/special-03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*end offer*/

/*start concerning*/

.concerning_items {
    display: flex;
    justify-content: space-between;
}

.concerning_box {
    padding: 120px 0px;
}

.concerning_title {
    font-size: 27px;
}

.concerning_text {
    color: #0e0e0e;
    font-size: 50px;
    line-height: 50px;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: 100;
}

.concerning_info {
    padding-bottom: 60px;
    line-height: 1.4;
    color: #6b6b6b;
}

.concerning_option {
    padding-top: 60px;
}

.right {
    width: 33%;
}

.concerning_left_item img {
    width: 97;
}

/*end concerningr*/

/*start delivary*/

.delivery {
    background-image: url("../images/delivery.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 0px;
}

.delivery_items p {
    font-size: 28px;
}

.delivery_items h2 {
    font-size: 115px;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 60px;
}

.delivery_items {
    text-align: center;
}

.delivery_items a {
    letter-spacing: 2px;
}

/*end delivery*/

/*start point*/

.points {
    background-color: #ffb91a;
    padding: 15px 0px;
}

.point_item {
    width: 20%;
}

.point_number {
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.point_text {
    color: #fff;
    font-size: 18px;
    display: block;
    padding-bottom: 30px;
}

.points_items {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/*end point*/

/*start dishes*/

.right {
    width: 49%;
}

.dishes {
    margin: 120px 0px;
}

.dish_option {
    background-color: #a5141a;
    color: #fff;
    border-radius: 14px;
    padding: 60px 55px;
}

.dish_option h3 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 15px;
}

.first_dish {
    margin: 36px 0px;
}

.dishes_items {
    display: flex;
    justify-content: space-between;
}

.dish_img {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish_img img {
    width: 100%;
}

.dish_option span {
    font-size: 25px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 13px;
}

.dish_option p {
    font-size: 15px;
}

/*end dishes*/

/*start recommend*/

.recommend {
    background: #f8f8f8;
    padding: 100px 0px;
}

.top_section {
    text-align: center;
}

.top_section .recommend_title {
    display: block;
    font-size: 28px;
}

.recommnd_today {
    font-size: 50px;
    padding: 40px 0px;
    display: block;
}

.top_section p {
    color: #6b6b6b;
    font-size: 17px;
}

.recommend_items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend_item {
    background-color: #fff;
    width: 49%;
    display: flex;
    padding: 22px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 15px;
    justify-content: space-around;
    margin: 15px 0px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
}

.recommend_item:hover {
    border: 1px solid #ffb91a;
}

.recommend_item_img {
    width: 50%;
}

.recommend_item_img img {
    width: 80%;
}

.recommend_item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.recommend_item_text h3 {
    color: #383838;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
}

.recommend_item_text span {
    color: #a5141a;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 25px 0px;
}

.recommend_item_text p {
    color: #6b6b6b;
    font-size: 15px;
    line-height: 24px;
}

.recommend_item_text a {
    color: #383838;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1px;
    text-decoration: none;
}

/*end recommend*/

/*start popular*/

.popular {
    background: linear-gradient(#00000042, #0000008a),
        url("../images/fav-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 0px;
}

/*end popular*/

/*start feedback*/

.feedback{
    background-image: url("../images/special-bg\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 0px;
}

.feedback_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.feedback_item{
    background-color: #fff;
    width: 49%;
    text-align: center;
    padding: 35px 35px;
    border-radius: 14px;
    margin: 15px 0px;
}

.feedback_item p{
    font-size: 18px;
    color: #6b6b6b;
    line-height: 1.7;
}

.item_img_name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.item_img_name span{
    font-size: 18px;
    font-weight: 700;
}

.item_img_name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/*end feedback*/